Source: ros-jazzy-qrb-ros-robot-base
Section: misc
Priority: optional
Maintainer: Chengheng Tan <chenghen@qti.qualcomm.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-geometry-msgs, ros-jazzy-nav-msgs, ros-jazzy-nav2-msgs, ros-jazzy-qrb-robot-base-manager, ros-jazzy-qrb-ros-robot-base-msgs, ros-jazzy-sensor-msgs, ros-jazzy-std-msgs, ros-jazzy-tf2, ros-jazzy-tf2-ros
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-qrb-ros-robot-base
Architecture: any
Depends: ros-jazzy-geometry-msgs, ros-jazzy-nav-msgs, ros-jazzy-qrb-ros-robot-base-msgs, ros-jazzy-qrb-robot-base-manager, ros-jazzy-qrb-ros-robot-base-urdf,ros-jazzy-sensor-msgs, ros-jazzy-std-msgs, ros-jazzy-tf2, ros-jazzy-tf2-ros
Description: QRB ROS robot base package
